.actions{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.info__title{
    font-size: 35px;
    line-height: 1.2;
}
.inner__info span:not(:first-child){
    margin-left: 15px;
}
.inner__info .runtime{
    padding: 2px 7px;
    border: 1px solid orange;
    border-radius: 2px;
}


@media screen and(min-width: 900px){
    .hero-inner__info{
        width: 50%;
    }
}