.actions{
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin: 20px 0;
}
.info{
    .info__title{
        font-size: 35px;
    }
}

@media screen and(min-width: 900px){
    .hero-inner__info{
        width: 50%;
    }
}