<div class="detail">
    <section class="section">
        <web-hero
        :src="selectedObject.backdrop_path"
        :altText="selectedObject.title"
        :width="'w1280'"
        >
            <div class="container">
                <div class="title">
                    <h2 class="info__title">{{selectedObject.title}}</h2>
                </div>
                <div class="genre">
                    <ul class="genre__ul ul-flex">
                        <li class="genre__li"
                            v-for="(item, index) in genres"
                            :key="index"
                        >
                            {{item.name}}
                        </li>
                    </ul>
                </div>
                <div class="actions">
                    <web-icon-action
                    :icon="'add'"
                    :iconText="'Añadir a mi lista'"
                    ></web-icon-action>
                    <web-button
                    :btnText="'Ver Trailer'"
                    ></web-button>
                </div>
                <div class="info">
                    <p>{{selectedObject.overview}}</p>
                </div>
            </div>
        </web-hero>
    </section>
</div>