<div class="search">
    <section class="section">
        <div class="container">
            <article class="article">
                <web-filters
                :filters="filtersData"
                @SearchValue="searchValue($event)"
                ></web-filters>
            </article>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2 class="headline-2">{{setTitle}}</h2>
            <article class="article">
                <web-item-list
                :items="filteredItems.data"
                ></web-item-list>
            </article>
        </div>
    </section>
</div>