<div class="home">
    <section class="section">
        <div class="container">
            <article class="article">
                <web-section-title
                    :textTitle="'Popular Movies'"
                ></web-section-title>
                <web-grid
                    :cols="5"
                >
                <web-regular-card
                    v-for="item in popularMovies"
                    :key="item.id"
                    :src="item.poster_path"
                    :altText="item.title"
                    :title="item.title"
                ></web-regular-card>
                </web-grid>
            </article>
        </div>
    </section>
</div>