<div class="home">
    <section class="section">
        <div class="container">
            <h2>Series</h2>
            <article class="article"
                v-for="(item, index) in tvShows"
                :key="index"
            >
                <web-section-title
                    :textTitle="item.label"
                ></web-section-title>
                <web-grid
                    :cols="5"
                >
                <web-regular-card
                    v-for="tvShow in item.data"
                    :key="tvShow.id"
                    :src="tvShow.poster_path"
                    :altText="tvShow.name"
                    :title="tvShow.name"
                    :cursorPointer="true"
                    @Clicked="goToDetail('tvShows-Detail',tvShow)"
                ></web-regular-card>
                </web-grid>
            </article>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h2>Películas</h2>
            <article class="article"
                v-for="(item, index) in movies"
                :key="index"
            >
                <web-section-title
                    :textTitle="item.label"
                ></web-section-title>
                <web-grid
                    :cols="5"
                >
                <web-regular-card
                    v-for="movie in item.data"
                    :key="movie.id"
                    :src="movie.poster_path"
                    :altText="movie.title"
                    :title="movie.title"
                    @Clicked="goToDetail('movies-Detail',movie)"
                ></web-regular-card>
                </web-grid>
            </article>
        </div>
    </section>
</div>