.web-rating{
    width: 80px;
    height: 80px;
    position: relative;
    .circle-svg{
        position: absolute;
        top: 0;
        left: 0;
        fill: transparent;
        stroke: url("#circle-gradient");
        stroke-width : 5;
        stroke-dashoffset: 0;
        transform: rotate(-90deg);
        transform-origin: center;
        transition: stroke-dashoffset 1s linear;
    }
    .average{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
    }
}